.logo {
   background-image: url("./img/aoi.PNG");
   /*background-position: top;*/
   background-size: cover;
   background-repeat: no-repeat; /*繰り返しなし*/
   text-align: top;
   /*min-height: 50vh;*/
   height: 50%;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
}
