body {
   background-color: #202f55;
   color: white;
   
}

a {
   color: white;
}

.lang {
   text-align: right;
}

.title {
   text-align: center;
   font-size: 60px;
}

.intro-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 30px;
}

.logo {
   background-image: url("./img/aoikubota.PNG");
   border-radius: 50%;
   width: 200px;
   height: 200px;
   background-position: right 67% bottom 90%;
}

.item {
   font-size: 30px;
}

.link-button {
   color: white;
   font-size: 20px;
   justify-content: space-between;
   display: inline-block;
   padding: 0.3em 1em;
   text-decoration: none;
   color: white;
   border: solid 1px skyblue;
   transition: .4s;
}

.link-button:hover {
   background: skyblue;
   color: white;
}
   
.history-table {
   border-spacing: 30px 10px;
   font-size: 15px;
   color: white;
}

.history-table th {
   text-align: left;
}

h4 {
   text-indent: 2em;
}

.follow-me {
   margin: 30px auto;
}

.twitter {
   background-color: #008DDE; 
   display: inline;
   position: relative;
   font-family: Arial;
   font-size: 14px;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   color: white;
   border-radius: 5px;
   padding: 14px 80px;
 }

 .instagram {
   background-color: #c13584;
   display: inline;
   position: relative;
   font-family: Arial;
   font-size: 14px;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   color: white;
   border-radius: 5px;
   padding: 14px 80px;
 }

 .github {
   background-color: #000000;
   display: inline;
   position: relative;
   font-family: Arial;
   font-size: 14px;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   color: white;
   border-radius: 5px;
   padding: 14px 80px;
 }
footer {
   text-align: center;
} 